@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Light.woff2) format(woff2);
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-LightItalic.woff2) format(woff2);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.woff2) format(woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Bold.woff2) format(woff2);
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Black.woff2) format(woff2);
    font-weight: 900;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


body {
    display: flex;
    flex-direction: column;
}

